<div *ngIf="user.name !== undefined">
  <!--<div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="user.name" />
  </div>-->
  <div>
    <label>Language:</label>
    <select [(ngModel)]="user.language" >
      <option value="ua">{{manager.translate("UA")}}</option>
      <option value="en">{{manager.translate("EN")}}</option>
    </select>
  </div>
  <div>
    <label>{{manager.translate("NAME")}}:</label>
    <input type="text" [(ngModel)]="user.name" />
  </div>
  <div>
    <label>{{manager.translate("OLD PASSWORD")}}:</label>
    <input type="password" [(ngModel)]="oldPassword" />
  </div>
  <div>
    <label>{{manager.translate("PASSWORD")}}:</label>
    <input type="password" [(ngModel)]="newPassword1" />
  </div>
  <div>
    <label>{{manager.translate("REPEAT PASSWORD")}}:</label>
    <input type="password" [(ngModel)]="newPassword2" />
  </div>
  <div>
    <button (click)="edit()">{{manager.translate("SAVE")}}</button>
  </div>
</div>
